body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 172, 204);
    padding: 20px;
}

p{
    cursor: pointer;
    margin: 0px;
}

.list-group-item{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.complete{
    text-decoration: line-through;
}
.container_app{
    padding: 20px;
    h1{
        justify-content: center;
        display: flex;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
}