.listContainer{

    
    li{
        background-color: rgba(232, 231, 231, 0.947);   
        padding: 20px 20px 20px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 50px 20px 0;
        border-radius: 20px;
        h2{
            color: rgb(0, 0, 0);
            font-size: x-large;
            width: 90%;
            font-weight: 600;
            padding: 10px 0 0 20px;

        }
        #info{  
            overflow-wrap: break-word;
            overflow: auto;
            font-size: medium;
            max-height: 120px;
            width: 100%;
            padding-left: 20px;
            color: rgb(56, 56, 56);
        }
        #precio{
            padding-left: 20px;
            color: rgb(56, 56, 56);
        }
    }
    .infoBtn{
        display: flex;
        align-items: flex-end;
    }
    .btnContainer{
        display: flex;
        justify-content: flex-end;
        button{
            margin-left: 20px;
        }
    }
}