body{
    padding: 50px;
}

p{
    cursor: pointer;
    margin: 0px;
}

.list-group-item{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.complete{
    text-decoration: line-through;
}
.container_app{
    padding: 20px;
    border: solid 0.5px black;
    box-shadow: 2px 2px 10px;
}